body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #ecd078;
}

nav {
  display: block;
  margin-bottom: 70px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  margin: auto 30px;
  gap: 20px;
}

nav ul li,
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  border-bottom: 2px solid #000;
}

h1 {
  display: block;
  text-align: center;
}

form {
  display: block;
  margin: auto;
}

label {
  font-size: 1rem;
  display: block;
  text-align: center;
  margin: 20px auto 2px auto;
  font-weight: bold;
}

input {
  display: block;
  margin: 5px auto;
  width: 40%;
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  border: none;
  font-style: italic;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border: 1px solid #c02942;
}

.div-flex {
  display: flex;
  justify-content: center;
}

.btn-desativar.ativo,
.btn-ativar.ativo {
  margin: 20px 20px;
  width: 150px;
}

.nota1,
.nota2,
.nota3 {
  width: 11.55%;
  margin: 10px;
}

.ativo {
  display: block;
  margin: 30px auto;
  /* width: 100px; */
  /* height: 30px; */
  border: 4px solid #c02942;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: monospace;
  padding: 10px 30px;
}

.ativo:hover {
  background-color: #ecd078;
}

.div {
  /* position: fixed; */
  top: 150px;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

.div-media,
.aluno-removido,
.info-aluno,
.div-desativar,
.aluno-desativado,
.reprovado-aprovado {
  margin: 0 50px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
}
